footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background:#ffffff;
    color: rgb(97, 21, 248);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); /* Sombra */
    z-index: 2;
}

.footerbutton {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    
    color: rgb(16, 17, 17);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

footer button.active {
    color: #50c2c9;
    font-weight: bold;
}

.footerIcone {
    min-height: 25px;
    min-width: 25px;
    max-height: 30px;
    max-width: 30px;
}